
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
    <link href="~/Content/assets/styles.css" rel="stylesheet" />
</head>
<body style="text-align:center">
    <h2>Thanh Toán Thành Công</h2>
    <div class="blue-btn">
        <a href="@Url.Action("Index","Home")">Trở về trang chủ</a>
    </div>
</body>
</html>
