@{
    ViewBag.Title = "ShowCart";
    Layout = "/Views/Shared/index.cshtml";
}
<link href="~/Content/assets/bag.css" rel="stylesheet">
<br />
<br />
    <div class="container px-3 my-5 clearfix">
        <div class="card">
            <div class="card-header">
                <h2>Giỏ Hàng</h2>
                <div class="float-right">
                    <a class="blue-btn btn-lg btn-primary mt-2 text-decoration-none" href="@Url.Action("Indexs","PlantTrees")">Chọn Khu Vực Muốn Trồng </a>
                </div>
            </div>
            <div class="card-body">
                Giỏ hàng Trống...
            </div>
        </div>
    </div>



